<div class="user-detail-container">
    <div class="user-detail-nav-links">
        <label class="user-detail-nav-link" (click)="goToList()">All Categories</label>
         > Create
    </div>

    <htc-image-uploader 
    [image]="photoPreview" 
    [shape]="'square'" 
    (onUploaded)="addPhoto($event)"></htc-image-uploader>
    
    <div class="div-section">
        <form [formGroup]="createForm" aria-labelledby="title">
            <div class="row" style="padding: 10px 0;">
                <div class="col-sm">
                    <label class="htc-form-input-lbl">Category Name</label>
                    <div>
                        <input 
                        class="form-control"
                        formControlName="name" 
                        name="name" 
                        type="text" 
                        id="input-name"  
                        autofocus 
                        autocomplete="off"
                        [required]="true"
                        placeholder="Enter Category Name...">
                        <ng-container *ngIf="(createForm.get('name').invalid && createForm.get('name').touched) || createForm.get('name').dirty">
                            <p class="required-lbl" *ngIf="createForm.get('name').errors?.required">
                                Category Name is require!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="ispublicEl">Public</label>
                        <input 
                        id="ispublicEl"
                        class="form-check-input" 
                        type="checkbox" 
                        formControlName="isPublic" 
                        name="isPublic" 
                        (change)="changeIsPublic($event)">
                    </div>
                </div>
            </div>

            <div class="div-section" style="text-align: end;">
                <ng-container *ngIf="createForm.valid;else FormInvalidBtn">
                    <button type="button" class="btn btn-outline-success user-detail-block-btn" (click)="onCreate(createForm.value)">
                        <img src="../../../../../assets/images/general/check-green-no-bg.svg" style="cursor: pointer;">
                        <label style="margin-left: 5px;cursor: pointer;">Create</label>
                    </button>
                </ng-container>

                <ng-template #FormInvalidBtn>
                    <button type="button" class="btn btn-success user-detail-block-btn" disabled>
                        <i class="bi bi-check2"></i>
                        <label style="margin-left: 5px;cursor: pointer;">Create</label>
                    </button>
                </ng-template>
            </div>

        </form>
    </div>
</div>