::ng-deep ngx-select-dropdown div > button {
    min-width: 200px !important;
    color: #000 !important;
    height: 41px !important;
}
.my-pagination ::ng-deep .ngx-pagination .current {
    background: #C43704;
    border-radius: 3px;
}
.my-pagination-bg ::ng-deep .ngx-pagination {
    padding: 4px 0px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
}
.req-label {
    margin-left: 5px;
    border-radius: 30px;
    background: rgba(220, 38, 38, 0.2);
    color: #DC2626;
    padding: 2px 14px;
}
.solved-label {
    color: #18A16F;
}