.login-form-container {
    background-image: url('../../../assets/images/login/form-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-form-layout {
    color: white;
}
.login-form-btn {
    width: 100%;
}
.login-title-container {
    width: 100%;
    text-align: center;
}
.htc-flex-container {
    height: 100%;
    float: right;
    margin-right: 10%;
}