<div class="user-detail-container">
    <div class="user-detail-nav-links">
        <label class="user-detail-nav-link" (click)="goToList()">Admin List</label>
         > Create
    </div>
    
    <htc-image-uploader [image]="profilePreview" (onUploaded)="addAdminPhoto($event)"></htc-image-uploader>
    
    <div class="div-section">
        <form [formGroup]="createForm" aria-labelledby="title">
            <div class="row" style="padding: 10px 0;">
                <div class="col-sm">
                    <label class="htc-form-input-lbl">Login Name</label>
                    <div>
                        <input 
                        class="form-control"
                        formControlName="loginName" 
                        name="loginName" 
                        type="text" 
                        id="input-loginName"  
                        autofocus 
                        autocomplete="off"
                        [required]="true"
                        placeholder="Enter Login Name...">
                        <ng-container *ngIf="(createForm.get('loginName').invalid && createForm.get('loginName').touched) || createForm.get('loginName').dirty">
                            <p class="required-lbl" *ngIf="createForm.get('loginName').errors?.required">
                                Login Name is require!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm">
                    <label class="htc-form-input-lbl">User Name</label>
                    <div>
                        <input 
                        class="form-control"
                        formControlName="userName" 
                        name="userName" 
                        type="text" 
                        id="input-userName" 
                        autocomplete="off"
                        [required]="true"
                        placeholder="Enter User Name...">
                        <ng-container *ngIf="(createForm.get('userName').invalid && createForm.get('userName').touched) || createForm.get('userName').dirty">
                            <p class="required-lbl" *ngIf="createForm.get('userName').errors?.required">
                                User Name is require!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm">
                    <label class="htc-form-input-lbl">Password</label>
                    <div>
                        <input 
                        class="form-control"
                        formControlName="password" 
                        name="password" 
                        type="text" 
                        id="input-password" 
                        autocomplete="off"
                        [required]="true"
                        placeholder="Enter Password..." 
                        minlength="6">
                        <ng-container *ngIf="(createForm.get('password').invalid && createForm.get('password').touched) || createForm.get('password').dirty">
                            <p class="required-lbl" *ngIf="createForm.get('password').errors?.required">
                                Password is require!
                            </p>
    
                            <p class="required-lbl" *ngIf="createForm.get('password').errors?.minlength">
                                Please input at least six(6) characters!
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px 0;">
                <div class="col-sm">
                    <label class="htc-form-input-lbl">Phone Number</label>
                    <div>
                        <input 
                        class="form-control"
                        formControlName="phoneNumber" 
                        name="phoneNumber" 
                        type="text" 
                        inputmode="numeric"
                        id="input-phoneNumber" 
                        autocomplete="off"
                        [required]="true"
                        placeholder="Enter Phone Number..." 
                        (keypress)="onKeyPress($event)">
                        <ng-container *ngIf="(createForm.get('phoneNumber').invalid && createForm.get('phoneNumber').touched) || createForm.get('phoneNumber').dirty">
                            <p class="required-lbl" *ngIf="createForm.get('phoneNumber').errors?.required">
                                Phone Number is require!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            </div>

            <div class="div-section" style="text-align: end;">
                <ng-container *ngIf="createForm.valid && profilePreview;else FormInvalidBtn">
                    <button type="button" class="btn btn-outline-success user-detail-block-btn" (click)="onCreate(createForm.value)">
                        <img src="../../../../../assets/images/general/check-green-no-bg.svg" style="cursor: pointer;">
                        <label style="margin-left: 5px;cursor: pointer;">Create</label>
                    </button>
                </ng-container>

                <ng-template #FormInvalidBtn>
                    <button type="button" class="btn btn-success user-detail-block-btn" disabled>
                        <i class="bi bi-check2"></i>
                        <label style="margin-left: 5px;cursor: pointer;">Create</label>
                    </button>
                </ng-template>
            </div>

        </form>
    </div>
</div>