.btn {
    margin-right: 0 !important;
}
.form-switch {
    display: flex !important;
    justify-content: center !important;

    input {
        min-width: 40px !important;
    }
}
.form-check-input {
    cursor: pointer !important;
}
.form-check-input:checked {
    background-color: #C43704;
    border-color: #C43704;
}
.form-check-label {
    margin-right: 46px;
    font-weight: bold;
}
.user-detail-container {
    background: #EDEDED !important;
}