.login-landing-container {
    text-align: center;
    padding: 4% 0;
}
.header-title {
    color:#C43704;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.body-txt-1 {
    font-size: 32px;
    font-weight: bold;
}