<div class="d-flex align-items-center justify-content-between">
    <div class="p-2" style="padding: 0 !important;">
        <label class="main-title">Requested Categories</label>
    </div>

    <div class="p-2" style="padding: 0 !important;">
        <htc-export-button 
        [htcServic]="categoryService" 
        [query]="expQuery$" 
        [fileName]="'requested-categories'"></htc-export-button>
    </div>
</div>

<div class="d-flex align-items-center filters-search-container">
    <div class="p-2 flex-grow-1"></div>
    <div class="p-2" style="padding-right: 0 !important;">
        <htc-global-search></htc-global-search>
    </div>
</div>

<ng-container *ngIf="categories && categories.length>0">
    <div >
        <div  class="table-container">
            <div class="d-flex align-items-center justify-content-between table-header">
                <div class="p-2" style="width: 10%;text-align: center;">No</div>
                <div class="p-2" style="width: 25%;padding-left: 3% !important;">Categories</div>
                <div class="p-2" style="width: 21%;">Created Date</div>
                <div class="p-2" style="width: 22%;text-align: center;">Status</div>
                <div class="p-2" style="width: 22%;text-align: center;">Action</div>
            </div>
    
            <div class="table-body">
                <div class="d-flex align-items-center" *ngFor="let category of categories | paginate: { itemsPerPage: perPage, currentPage: p, totalItems: totalRecords }; let idx=index;">
                    <div class="p-2" style="width: 10%;text-align: center;">
                        <label style="color: grey;">{{p > 1 ? (((perPage*p) - perPage) + idx + 1): (idx + 1)}}</label>
                    </div>
                    <div class="p-2" style="width: 25%;">
                        <label class="table-cell-truncate-1">{{category.name}}</label>
                    </div>
                    <div class="p-2" style="width: 21%;">
                        <label>{{category.createdAt}}</label>
                    </div>
                    <div class="p-2" style="width: 22%;text-align: center;">
                        <label style="color: red;">{{category.requestStatus}}</label>
                    </div>
                    <div class="p-2" style="width: 22%;text-align: center;">
                        <img src="../../../../../assets/images/dashboard/admin-manage/list/delete.svg" class="table-action-img"
                        (click)="deleteCategory(category)">

                        <label class="details-link accept-tabel-cell-link" (click)="onAccept(category)">Accept</label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="d-flex justify-content-end align-items-center">
            <div class="p-2" style="padding-right: 0 !important; ">
                <pagination-controls 
                class="my-pagination-bg my-pagination" 
                [autoHide]="true" 
                [responsive]="true" 
                (pageChange)="p = $event;getAll()">
                </pagination-controls>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="categories && categories.length===0">
    <there-is-no [description]="'There is No categories...'"></there-is-no>
</ng-container>