<ng-container *ngIf="userDetail">
    <div class="user-detail-container">
        <div class="user-detail-nav-links">
            <label class="user-detail-nav-link" (click)="goToList()">Request Chef Users</label>
             > Details
        </div>
    
        <div class="div-section user-profile-header">
            <profile-title-photo [photo]="userDetail.photo"></profile-title-photo>
    
            <div style="padding: 10px 0;">
                <label class="user-profile-name">{{userDetail.name}}</label>
            </div>
            <div>
                <!-- <label [ngStyle]="{'color': userDetail.requestedStatus === 'Requested' ? 'red' : 'green'}">
                    {{userDetail.requestedStatus}}
                </label> -->
                <label style="color: #C43704;padding-right: 10px;">{{userId}}</label>
                <active-inactive-status [status]="userDetail.status"></active-inactive-status>
            </div>
        </div>
    
        <div class="div-section">
            <div class="row" style="padding: 10px 0;">
                <div class="col-sm">
                    <label>Email or FB Name</label>
                    <div class="user-detail-info-label">
                        <label>{{userDetail.email}}</label>
                    </div>
                </div>
                <div class="col-sm">
                    <label>Created Date</label>
                    <div class="user-detail-info-label">
                        <label>{{userDetail.createdAt}}</label>
                    </div>
                </div>
                <div class="col-sm">
                    <label>User Level</label>
                    <div class="user-detail-info-label">
                        <label>{{userDetail.userLevel}}</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="div-section" style="text-align: end;">
            <ng-container *ngIf="userDetail.requestedStatus === 'Requested';else BlockButton">
                <button type="button" class="btn btn-outline-success user-detail-block-btn" (click)="onApprove()">
                    <img src="../../../../../assets/images/general/check-green-no-bg.svg" style="cursor: pointer;">
                    <label style="margin-left: 5px;cursor: pointer;">Accept</label>
                </button>
            </ng-container>
            <ng-template #BlockButton>
                <button type="button" class="btn btn-outline-secondary user-detail-block-btn" (click)="onOK()">
                    <i class="bi bi-check2"></i>
                    <label style="margin-left: 5px;cursor: pointer;">OK</label>
                </button>
            </ng-template>
        </div>
    </div>
</ng-container>